.nav-pills .nav-link.active {
  background-color: #494c55;
}
.selection-section {
  background-color: #1d1f21;
  display: flex;
  flex-direction: row;
}
@media (max-width: 769px) {
  .selection-section {
    flex-direction: column;
    padding: 20px 0 !important;
  }
  .selection-section > div {
    margin: 0 20px !important;
  }
}
