.nav-item a {
  height: 70px;
  width: 70px;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 769px) {
  .nav-item a {
    height: 50px;
    width: 50px;
  }
}
