.configs-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.configs-list > div {
  flex: 1 1 33%;
  max-width: 600px;
  margin: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.configs-list .swGlobal {
  border-radius: 10px;
  max-height: 450px;
  font-size: 1.2em;
}
.configs-list button {
  color: #8a8b8d !important;
  margin-top: -50px;
}

.configs-list a {
  margin: 10px;
  color: #fff !important;
  position: absolute;
  right: 5px;
}

@media (max-width: 1024px) {
  .configs-list .swGlobal {
    font-size: small;
  }
  .configs-list > div {
    max-width: 49%;
  }
}
@media (max-width: 1024px) {
  .configs-list > div {
    max-width: 100%;
  }
}
