* {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn-primary {
  background-color: #474973;
  border-color: #474973;
}
.btn-primary:hover {
  background-color: #161b33;
  border-color: #161b33;
}
