html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #121212;
  height: 100%;
  position: relative;
}
.banner {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    144deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(111, 83, 22, 1) 100%
  );
  min-height: 35vw;
}
.img-banner {
  width: 100%;
  max-width: 700px;
}
.navbar a {
  color: #fff !important;
  text-decoration: none;
}
.sub-nav {
  background-color: #1d1f21;
  margin-right: 40px;
}
.actions {
  background-color: #000;
}
.btn-primary {
  background-color: #57cc99;
  border-color: #57cc99;
}
.btn-primary:hover {
  background-color: #22577a;
  border-color: #22577a;
}
.btn-secondary {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}
.card-body {
  background-color: #1f1f1f;
  min-width: 28rem;
  border-radius: 0;
}
input.form-control {
  border-bottom: 1px solid #8e8e8e !important;
  color: #fff !important;
}
